*{
    box-sizing: border-box;
    margin: 0;
}


body{
    background-color: rgb(253, 255, 126);
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    
}

.header{
font-size: 1.5rem;
background-color: rgb(255, 182, 47);
border: 2px solid black;
padding:5rem 9rem;
border-radius: 10rem;
margin-top: 2rem;
display: flex;
justify-content: center;
}

.body{
    width: 60vw;
    min-height: 80vh;
    max-height: fit-content;
    background-color: rgb(255, 182, 47);
    font-size: 2rem;
    display: flex;
    padding: 5rem;
    align-items: flex-start;
    border: 2px solid black;
    flex-direction: column;
    gap: 2rem;
}

.buttons{
    margin: 0;
    background-color:rgb(252, 255, 68);
    width: 100vw;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom: 2px solid black;
    
}

.buttons button{
    padding: 1.5rem;
    width: 10rem;
    font-size: 1.5rem;
    background-color: rgb(255, 182, 47);
    border: 3px solid black;
    border-radius: 15rem;
}

.buttons button:hover{
    
    background-color: rgb(255, 174, 24);
    cursor: pointer;
 
}




.displaytab{
    display: flex;
flex-direction: column;
gap: 3rem;
}

.contentstab {
    margin-top: 3rem;
}


.hidetab{
    display: none;
}